<div class="center">
  <div class="top background">
    <div class="container">
      <header>
        <h1>-Wosh-</h1>
        <h2>Re-experience your favorite moments and conserts from #WOWgbg through your own customized slideshow</h2>  
      </header>
    </div>
  </div>
  <div class="steps background">
    <div class="container">
      <div class="step">
        <div class="underline" data-ng-class="{'current-step-underline': query, 'completed-step-underline': choosenTrack && query}">
          <h3 data-ng-class="{'current-step': query, 'completed-step': choosenTrack}">1</h3>
        </div>
        <p>Firstly you need to choose a song to express the feeling of your slideshow.</p>
      </div>
      <div class="step">
        <div class="underline" data-ng-class="{'current-step-underline': choosenTrack, 'completed-step-underline': linkToShare}">
          <h3 data-ng-class="{'current-step': choosenTrack, 'completed-step': linkToShare}">2</h3>
        </div>
        <p>After that you choose a hashtag such as a specific artist or just #WOWgbg and the right images will be fetched from Instagram</p>
      </div>
      <div class="step">
        <div class="underline" data-ng-class="{'current-step-underline': linkToShare}">
          <h3 data-ng-class="{'current-step': linkToShare}">3</h3>
        </div>
        <p>Then you are free to share your slideshow with friends or watch the most recently created slideshows from other users</p></div>
      </div>    
    </div>
    <div class="slideshow background">
      <div class="container" data-ng-hide="choosenTrack">
        <p class="slideText">Choose a song please</p>
        <input type="text" data-ng-model="query" data-ng-blur="search()" data-ng-keypress="pressedEnter($event, 'tracks')"></input>
        <div data-ng-repeat="track in result.tracks.items">
          <p class="track" data-ng-click="trackChoosen(track)" data-ng-class="{selected: track.name == choosenTrack.name }">{{track.name}} - {{track.artists[0].name}}</p>
        </div>
      </div>

      <div class="container" data-ng-show="choosenTrack" data-ng-hide="tagChoosen">
        <p class="slideText">Enter a tag please</p>
        <input ng-init="tag='#'" value="#" type="text" data-ng-model="tag" data-ng-blur="searchTags()" data-ng-keypress="pressedEnter($event, 'tags')"></input>
        <div data-ng-repeat="tag in result.data">
          <p class="track" data-ng-click="tagChoosen(tag)">{{tag.name}}</p>
        </div>
      </div>

      <div class="container" data-ng-show="!linkToShare && startSlideshow" id="show">
        <h3>Your Wosh</h3>
        <img src="{{imgSrc}}" data-ng-cloak></img>
        <audio id="theTrack" src="{{choosenTrack.preview_url}}" data-ng-cloak></audio>
      </div>

      <div class="container" data-ng-show="linkToShare">
        <p class="slideText">Link to share your slideshow</p>
        <p data-ng-bind="url"></p>
      </div>
    </div>
  </div>
